<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:fragment="html(pageTitle, navbar, content)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${pageTitle} ?: 'Pay My Buddy'">Pay My Buddy</title>

    <!-- Bootstrap local -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Prevent browser requesting -->
    <link rel="icon" type="image/png"
          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII=">
</head>

<body>
<!-- Optional navbar -->
<header th:replace="${navbar} ?: ~{}"></header>

<main class="py-4">
    <!-- Required content slot -->
    <div th:replace="${content}">Page content</div>
</main>

<!-- Bootstrap JS bundle local -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
