<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>

<h1>Connexion</h1>

<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <div>
        <label>Email</label>
        <input type="email" name="email"/>
    </div>

    <div>
        <label>Mot de passe</label>
        <input type="password" name="password"/>
    </div>

    <button type="submit">Se connecter</button>
</form>

<div th:if="${param.error}">
    Échec de la connexion.
</div>

</body>
</html>